
.contenedor {
	margin:0 auto;
	width:300px;
	text-align:center;
	margin-top: 50px;
}
#user {
	width: 300px;

}
#pass {
	width: 300px;

}
.contenido{
	-webkit-box-shadow: 7px 6px 24px 9px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 6px 24px 9px rgba(0,0,0,0.75);
box-shadow: 7px 6px 24px 9px rgba(0,0,0,0.75);
}